@font-face {
    font-family: Gravity;
    src: url('../media/Gravity-Regular.otf');
}

body, html{
    font-family: Gravity;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 400%;
    margin-top: 1%;
    color: darkgreen;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    letter-spacing: 4pt;
    text-decoration: bold;
}

a {
    text-decoration: none;
}

span {
    font-size: 120%;
    margin: 2%;
    color: black;
    text-decoration: bold;
}

select {
    width: 250px;
    padding: 5px;
    margin: 5px;
}

.bg-image{
    position: fixed; 
    top: 0; 
    left: 0; 
    background-image: url('../media/IMG_6549.JPG');
    height: 100%;
    width: 100%;    
    background-size: cover;
    z-index: -1;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(180deg, rgba(245, 247, 250, 0.85) 0%, rgba(195, 207, 226, 0.85) 100%); 
}

.black-tint {
    z-index: 2;
    height: 70%;
    width: 100%;
    position: fixed;
    top: 15%;
    left: 0px;
    background: rgba(0, 0, 0, .24);    
}

.black-tint > p {
    color: white;
    font-size: 20pt;
    margin: 3%;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.home-input {
    vertical-align: middle;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-style: hidden;
}

.text-input {
    display: block;
    margin-bottom: 5%;
    font-size: 20pt;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.25);
}

.button {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: darkgreen;
    border-style: hidden;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.20);
    transition: ease .5s;
    outline: none;
}

.button:hover {
    color: aliceblue;
    background-color: #009dff;
    cursor: pointer;
    /*    box-shadow: 0 3px x 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);*/
    /*    box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.2);*/
}

/* DIV that contains place dropwdown and calendar */

.left-sidebar{
    position: relative;
    width: 30%;
    height: inherit;
    align-content: center;
    display: inline-block;
    margin: 1%;
}

.place-dropdown{
    margin: 0;
    position: relative;
}

/* Calendar container */

.calendar-container {
    background-color: white;
    align-items: center;
    margin-top: 2%
}

/*********** Calendar CSS ***********/

ul {
    list-style-type: none;
}

/* Month header */
.month {
    padding: 10px 10px;
    background: #1abc9c;
    text-align: center;
    font-size: 10%;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous month */
#prev-month {
    float: left;
    padding-right: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

#prev-month:hover{
    background-color: gray;
}

/* Next button */
#next-month {
    float: right;
    padding-left: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

#next-month:hover{
    background-color: gray;
}

/* Weekdays (Mon-Sun) */
#weekdays {
    margin: 0;
    padding: 2px 2px;
    background-color:#ddd;
    font-size: 88%;

}

#weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
#days {
    padding: 8px 0;
    background: #eee;
    margin: 0;
}

#days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
#days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#year {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}